<head>

    <title>GuitarCzar</title>

    <link rel="stylesheet" href="./bin/styles/main.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>

<body>

    <header class="mainHeader mainHeader__cover">


        <section class="mainHeader mainHeader__navigation  animated slideInDown">


            <section class="mainHeader mainHeader__left">
                <!--Logo-->
                <a href="/"> <img src="./img/guitarCzarLogo.png" alt="GuitarCzar Logo" class="logo"></a>


                <!--hamburger button-->
                <div class="hamburgerButton">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>

            </section>

            <!------------------------------------------------------------------------------------------>
            <!------------------------------------------------------------------------------------------>


            <section class="mainHeader mainHeader__middle">

                <section class="mainHeader mainHeader__top">
                    <!--search bar-->
                    <input type="text" class="mainHeader mainheader__srchBar"
                        placeholder="Guitarras, Amplificadores, Bajos...">

                    <img src="./img/serchGlass.png" class="burguerGlass" alt="searchIcon">
                </section>


                <section class="mainHeader mainHeader__bottom">
                    <a href="/products?object=guitar" class="mainNav mainNav__link">Guitars</a>
                    <a href="/products?object=bass" class="mainNav mainNav__link">Basses</a>
                    <a href="/products?object=amp" class="mainNav mainNav__link">Amps</a>
                    <a href="/products?object=accessories" class="mainNav mainNav__link">Accessories</a>
                </section>

            </section>

            <!------------------------------------------------------------------------------------------>
            <!------------------------------------------------------------------------------------------>

            <section class="mainHeader mainHeader__right">
                <!--button -->
                <a href="#"> <img src="./img/headStock.png" alt="search button"
                        class="mainHeader mainHeader__searchButton"> </a>
            </section>

            <!------------------------------------------------------------------------------------------>
            <!------------------------------------------------------------------------------------------>

        </section>
        <!--closes main header navigation-->


        <div class="coverInfo">
            <a href="#" class="coverInfo__button  animated zoomIn"></a>
            <h1 class="coverInfo__title  animated fadeInUp"></h1>

            <div class="bulletContainer  animated zoomIn">
                <label class="bullets">
                    <input type="radio" name="slideShowed" id="firstBullet">
                    <span class="bullet" id="firstBullet"></span>
                </label>
                <label class="bullets">
                    <input type="radio" name="slideShowed" id="secondBullet">
                    <span class="bullet" id="secondBullet"></span>
                </label>
                <label class="bullets">
                    <input type="radio" name="slideShowed" id="thirdBullet">
                    <span class="bullet" id="thirdBullet"></span>
                </label>
                <label class="bullets">
                    <input type="radio" name="slideShowed" id="fourthBullet">
                    <span class="bullet" id="fourthtBullet"></span>
                </label>
                <label class="bullets">
                    <input type="radio" name="slideShowed" id="fifthBullet">
                    <span class="bullet" id="fifthBullet"></span>
                </label>
            </div>

        </div>

        <main class="main">

            <div class="new__products">


                <h2 class="new__title"><span>NEW PRODUCTS</span></h2>



                <section class="instruments__tape">



                    <div class="instruments">
                        <img class="instrument" src="./img/guitar1.png">
                        <a class="instrument__link" href="/products?object=guitar&_id=5dc21a1a54ecb55edceb92b3">Vintera
                            '70s Telecaster™ <br> Thinline</a>
                    </div>
                    <div class="instruments">
                        <img class="instrument" src="./img/guitar2.png">
                        <a class="instrument__link" href="/products?object=guitar&_id=5dc21a1a54ecb55edceb92b5">American
                            Performer<br> Jazzmaster™ </a>
                    </div>
                    <div class="instruments">
                        <img class="instrument" src="./img/guitar3.png">
                        <a class="instrument__link" href="/products?object=guitar&_id=5dc21a1a54ecb55edceb92b1">
                            Rarities Flame Koa <br> Top Stratocaster™ </a>

                    </div>
                    <div class="instruments">
                        <img class="instrument" src="./img/guitar4.png">
                        <a class="instrument__link" href="/products?object=guitar&_id=5dc21a1a54ecb55edceb92be"> X
                            Series Dinky™ </a>

                    </div>
                    <div class="instruments">
                        <img class="instrument" src="./img/guitar5.png">
                        <a class="instrument__link" href="/products?object=guitar&_id=5dc21a1a54ecb55edceb92bd"> Pro
                            Series™ Signature <br> Misha Mansoor </a>
                    </div>
                    <div class="instruments">
                        <img class="instrument" src="./img/guitar6.png">
                        <a class="instrument__link" href="/products?object=guitar&_id=5dc21a1a54ecb55edceb92aa"> Pro
                            Series™ Monarkh<br> SCG</a>
                    </div>


                </section>
                <div class="tape__control">
                    <img src="./img/slider.png" class="left__btn" alt="button">
                    <img src="./img/slider.png" class="right__btn" alt="button">
                </div>

                <div class="moreWrapper">
                    <a href="/products" class="new__title more">MORE PRODUCTS</a>
                </div>

            </div>

            <div class="hot__product">
                <h2 class="new__title white"> <span> HOT OF THE MONTH </span> </h2>
                <h2 class="hot__reference">GIBSON <br>LES <br>PAUL</h2>


                <div class="characteristics">
                    <h2 class="new__title"><span>SPECS</span></h2>

                    <div class="characteristic">
                        <img src="./img/mastil.png" class="characteristics__one animated">
                        <p class="characteristics__title one">Kluson Single <br>Line, Single Ring</p>
                    </div>

                    <div class="characteristic">
                        <img src="./img/body.png" class="characteristics__two animated">
                        <p class="characteristics__title two">Nitrocellulose VOS (Vintage Patina)
                        </p>
                    </div>

                    <div class="characteristic">
                        <img src="./img/palanca.png" class="characteristics__three animated">
                        <p class="characteristics__title three">CTS 500K Audio Taper Potentiometers, Paper-in-Oil
                            Capacitors</p>
                    </div>


                </div>


            </div>

        </main>
        <!--closes main content-->






        <div class="scene">

            <a href="#"> <img src="./img/up.png" class="up"></a>
        </div>
        <div class="controles">
            <img src="./img/rotate.png" class="control">
            <img src="./img/details.png" class="control">
            <img src="./img/background.png" class="control">
        </div>







        <footer class="section footer-classic context-dark bg-image pie" style="background:  #151222">
            <div class="container">
                <div class="row row-30">
                    <div class="col-md-4 col-xl-5">
                        <div class="pr-xl-4"><a class="brand" href="#"><img class="brand-logo-light"
                                    src="./img/guitarCzarLogo.png" width="100px"></a>
                            <p>Since opening our store in 1993, Guitar Czar has been proudly serving the Utah music
                                community for over 25 years. </p>
                            <!-- Rights-->
                            <p class="rights"><span>©  </span><span
                                    class="copyright-year">2019</span><span> </span><span>Colombia</span><span>. </span><span>All
                                    Rights Reserved.</span></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5>Contacts</h5>
                        <dl class="contact-list">
                            <dt>Address:</dt>
                            <dd>5979 S State Street
                                Salt Lake City
                                Utah 84107</dd>
                        </dl>
                        <dl class="contact-list">
                            <dt>E-mail:</dt>
                            <dd><a href="mailto:#">JuanDavidPF@gmail.com</a></dd>
                        </dl>
                        <dl class="contact-list">
                            <dt>Phone:</dt>
                            <dd><a href="tel:#">+57 3215864235</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-4 col-xl-3">
                        <h5>Links</h5>
                        <ul class="nav-list">
                            <li><a href="/products?object=guitar">Guitars</a></li>
                            <li><a href="/products?object=bass">Basses</a></li>
                            <li><a href="/products?object=amp">Amps</a></li>
                            <li><a href="/products?object=accessories">Accesories</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row no-gutters social-container">
                <div class="col"><a class="social-inner"
                        href="https://www.facebook.com/lml.JuanDavidPF.lml?ref=bookmarks"><span
                            class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
                <div class="col"><a class="social-inner" href="https://www.instagram.com/payanjd/"><span
                            class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
                <div class="col"><a class="social-inner" href="https://twitter.com/PFJuanDavid"><span
                            class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
                <div class="col"><a class="social-inner"
                        href="https://www.youtube.com/channel/UCAosNYf0C4wjXg7vMIAU8-A?view_as=subscriber"><span
                            class="icon mdi mdi-youtube-play"></span><span>Youtube</span></a></div>
            </div>
        </footer>





    </header>
    <!--closes main header cover-->



    <!------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./bin/scripts/main.js"></script>   
    <script src="./src/three.js"></script>
    <script src="./src/OrbitControls.js"></script>
    <script src="./src/RGBELoader.js"></script>
    <script src="./src/PMREMGenerator.js"></script>
    <script src="./src/PMREMCubeUVPacker.js"></script>
    <script src="./src/GLTFLoader.js"></script>
    <script src="./bin/scripts/interaction.js"></script>


</body>

</html>