.menuBtn {
  z-index: 4;
  position: fixed;
  transform: translate(-50%) rotate(180deg);
  display: none;
  transition-duration: 1s;
  transition-property: left;
  transition-timing-function: cubic-bezier(0.49, 0.78, 0.45, 0.95);
  cursor: pointer;
}

.localMenu {
  transition-duration: 0s;
  flex-shrink: 0;
  z-index: 1;
  width: 330px;
  display: flex;
  align-items: center;

  flex-direction: column;
  background-color: #fcf2e6;

  box-shadow: 5px 0px 10px 2px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.localMenu>div {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: space-between;
}

.localMenu h1 {
  font-family: "AvernirRoman";
  font-weight: bolder;
  font-size: 22px;
}

.localMenu h2 {
  font-family: "Avernir";
  font-weight: normal;
  font-size: 20px;
}

.localMenu label {
  font-size: 18px;
  font-family: "AvernirRoman";
  color: #676666;
  font-family: "Avernir";
}

.localMenu img {
  margin-top: 40px;
  top: 150px;
}



@media (max-width: 800px) {


  .localMenu img {
    position: absolute;
    bottom: 20px;
    top: unset;
  }

  .localMenu {
    position: absolute;
    height: 100%;
    width: 200px;
  }

  .menuBtn {
    display: flex;
  }
}