/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.menuBtn {
  z-index: 4;
  position: fixed;
  -webkit-transform: translate(-50%) rotate(180deg);
      -ms-transform: translate(-50%) rotate(180deg);
          transform: translate(-50%) rotate(180deg);
  display: none;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-timing-function: cubic-bezier(0.49, 0.78, 0.45, 0.95);
       -o-transition-timing-function: cubic-bezier(0.49, 0.78, 0.45, 0.95);
          transition-timing-function: cubic-bezier(0.49, 0.78, 0.45, 0.95);
  cursor: pointer;
}

.localMenu {
  -webkit-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 1;
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

      -ms-flex-direction: column;

          flex-direction: column;
  background-color: #fcf2e6;

  -webkit-box-shadow: 5px 0px 10px 2px rgba(0, 0, 0, 0.2);

          box-shadow: 5px 0px 10px 2px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.localMenu>div {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.localMenu h1 {
  font-family: "AvernirRoman";
  font-weight: bolder;
  font-size: 22px;
}

.localMenu h2 {
  font-family: "Avernir";
  font-weight: normal;
  font-size: 20px;
}

.localMenu label {
  font-size: 18px;
  font-family: "AvernirRoman";
  color: #676666;
  font-family: "Avernir";
}

.localMenu img {
  margin-top: 40px;
  top: 150px;
}



@media (max-width: 800px) {


  .localMenu img {
    position: absolute;
    bottom: 20px;
    top: unset;
  }

  .localMenu {
    position: absolute;
    height: 100%;
    width: 200px;
  }

  .menuBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}