/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: "Avernir";

  src: url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.eot");
  src: url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.woff") format("woff"),
    url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.ttf") format("truetype"),
    url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.svg#svgFontName")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvernirLight";

  src: url("../data/fonts/Avenir-Light/AvenirLTStd-Light.eot");
  src: url("../data/fonts/Avenir-Light/AvenirLTStd-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../data/fonts/Avenir-Light/AvenirLTStd-Light.woff") format("woff"),
    url("../data/fonts/Avenir-Light/AvenirLTStd-Light.ttf") format("truetype"),
    url("../data/fonts/Avenir-Light/AvenirLTStd-Light.svg#svgFontName")
      format("svg");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "AvernirRoman";

  src: url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.eot");
  src: url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.eot?#iefix")
      format("embedded-opentype"),
    url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.woff") format("woff"),
    url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.ttf") format("truetype"),
    url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.svg#svgFontName")
      format("svg");
  font-style: normal;
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #9b2e49;
}

* {
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  margin: 0;
  border-style: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: background-image;
  -o-transition-property: background-image;
  transition-property: background-image;
  background-blend-mode: darken;

  /* Force the browser to load the images at first*/
  background-image: url("./../data/img/backgroundCover1.jpg");
  background-image: url("./../data/img/backgroundCover2.jpg");
  background-image: url("./../data/img/backgroundCover3.jpg");

  width: 100%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  height: 95%;
}

.arrows {
  cursor: pointer;
}

.content > div {
  color: white;
  width: 60%;
  text-align: center;
}

.content > div > h1:nth-child(1) {
  font-family: "Avernir";
  font-weight: normal;
  font-size: 36px;
}

.content > div > h1:nth-child(3) {
  font-family: "AvernirRoman";
  font-weight: normal;
  font-size: 24px;
}

.content > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content > div > div > h1 {
  margin-left: 10px;
  font-weight: 400;
}

.content > div > div > h1:nth-child(1),
.content > div > div > h1:nth-child(3) {
  font-family: "Amatic SC", cursive;
  font-size: 120px;
}

.content > div > div > h1:nth-child(2) {
  font-family: "Dancing Script", cursive;
  font-size: 114px;
}

.bulletPoints {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 10%;
}

.bullets input {
  display: none;
}

.bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ada8a8;
  cursor: pointer;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  -o-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
}

.bullets:hover .bullet {
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  -o-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-box-shadow: 0 0 0 2px rgb(255, 255, 255);
  box-shadow: 0 0 0 2px rgb(255, 255, 255);
  background-color: #ffffff;
}

.bullets input:checked + .bullet {
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  -o-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-box-shadow: 0 0 0 2px #ffffff;
  box-shadow: 0 0 0 2px #ffffff;
  background-color: #ffffff;
}

@media (max-width: 1200px) {
  .content > div > h1:nth-child(1) {
    font-size: 30px;
  }

  .content > div > h1:nth-child(3) {
    font-size: 20px;
  }

  .content > div > div > h1:nth-child(1),
  .content > div > div > h1:nth-child(3) {
    font-family: "Amatic SC", cursive;
    font-size: 80px;
  }

  .content > div > div > h1:nth-child(2) {
    font-family: "Dancing Script", cursive;
    font-size: 80px;
  }
}

@media (max-width: 800px) {
  .content > div > h1:nth-child(1) {
    font-size: 24px;
  }

  .content > div > h1:nth-child(3) {
    font-size: 16px;
  }

  .content > div > div {
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 54px;
  }

  .content > div > div > h1:nth-child(1),
  .content > div > div > h1:nth-child(3) {
    font-family: "Amatic SC", cursive;
    font-size: 65px;
    text-align: center;
  }

  .content > div > div > h1:nth-child(2) {
    font-family: "Dancing Script", cursive;
    font-size: 65px;
    text-align: center;
  }
}