@font-face {
  font-family: "Avernir";

  src: url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.eot");
  src: url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.woff") format("woff"),
    url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.ttf") format("truetype"),
    url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.svg#svgFontName")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avernir";

  src: url("../data/fonts/Avenir-Light/AvenirLTStd-Light.eot");
  src: url("../data/fonts/Avenir-Light/AvenirLTStd-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../data/fonts/Avenir-Light/AvenirLTStd-Light.woff") format("woff"),
    url("../data/fonts/Avenir-Light/AvenirLTStd-Light.ttf") format("truetype"),
    url("../data/fonts/Avenir-Light/AvenirLTStd-Light.svg#svgFontName")
      format("svg");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "AvernirRoman";

  src: url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.eot");
  src: url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.eot?#iefix")
      format("embedded-opentype"),
    url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.woff") format("woff"),
    url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.ttf") format("truetype"),
    url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.svg#svgFontName")
      format("svg");
  font-style: normal;
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 75px;
  width: 100%;
  background-color: #9b2e49;
}

header > div {
  display: flex;
  align-items: center;
  height: 100%;
}
header > div:nth-child(1) {
  width: 70%;
}

.logo {
  height: 60%;
}

.headerLinks {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.headerLinks > a {
  text-decoration: none;
  font-family: "AvernirRoman";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin: 20px;
  color: white;
}

.accountManagement {
  display: flex;
}

.accountManagement > h2 {
  font-size: 14px;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-left: 10px;
  font-family: "Avernir";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.accountManagement > h2:nth-child(1) {
  color: white;
  border-style: solid;
}

.accountManagement > h2:nth-child(2) {
  background-color: white;
  border-color: white;
  border-style: solid;
}

main {
  display: flex;
  flex-direction: column;
  background-image: url("/data/img/backgroundCover1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 91.9%;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 90%;
}
.content > div {
  color: white;
  width: 60%;
  text-align: center;
}

.content > div > h1:nth-child(1) {
  font-family: "Avernir";
  font-weight: normal;
  font-size: 36px;
}

.content > div > h1:nth-child(3) {
  font-family: "AvernirRoman";
  font-weight: normal;
  font-size: 24px;
}

.content > div > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content > div > div > h1 {
  margin-left: 10px;
  font-weight: 400;
}

.content > div > div > h1:nth-child(1),
.content > div > div > h1:nth-child(3) {
  font-family: "Amatic SC", cursive;
  font-size: 120px;
}

.content > div > div > h1:nth-child(2) {
  font-family: "Dancing Script", cursive;
  font-size: 114px;
}
