@font-face {
  font-family: "Avernir";

  src: url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.eot");
  src: url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.woff") format("woff"),
    url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.ttf") format("truetype"),
    url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.svg#svgFontName")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avernir";

  src: url("../data/fonts/Avenir-Light/AvenirLTStd-Light.eot");
  src: url("../data/fonts/Avenir-Light/AvenirLTStd-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../data/fonts/Avenir-Light/AvenirLTStd-Light.woff") format("woff"),
    url("../data/fonts/Avenir-Light/AvenirLTStd-Light.ttf") format("truetype"),
    url("../data/fonts/Avenir-Light/AvenirLTStd-Light.svg#svgFontName")
      format("svg");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "AvernirRoman";

  src: url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.eot");
  src: url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.eot?#iefix")
      format("embedded-opentype"),
    url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.woff") format("woff"),
    url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.ttf") format("truetype"),
    url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.svg#svgFontName")
      format("svg");
  font-style: normal;
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

* {
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  margin: 0;
  border-style: hidden;
  user-select: none;
}

.hamburgerButton {
  margin-right: 5%;
  display: none;
  position: absolute;
  margin-left: 85%;
  margin-top: 25px;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 5px 0;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-8px, 4px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-8px, -3px);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 75px;
  width: 100%;
  background-color: #9b2e49;
}

header > div {
  display: flex;
  align-items: center;
  height: 100%;
}
header > div:nth-child(1) {
  width: 70%;
}

.logo {
  height: 60%;
  margin-right: 20px;
}

.headerLinks {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.headerLinks > a {
  text-decoration: none;
  font-family: "AvernirRoman";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #dfdfdf;
}

.headerLinks > a:hover {
  color: white;
  font-weight: 900;
}

.accountManagement {
  display: flex;
}

.accountManagement > h2 {
  cursor: pointer;
  font-size: 14px;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-left: 10px;
  font-family: "Avernir";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.accountManagement > h2:nth-child(1) {
  color: white;
  border-style: solid;
}

.accountManagement > h2:nth-child(2) {
  background-color: white;
  border-color: white;
  border-style: solid;
}

main {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition-duration: 0.5s;
  transition-property: background-image;
  background-blend-mode: darken;
  height: 91.95%;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 95%;
}

.arrows {
  cursor: pointer;
}

.content > div {
  color: white;
  width: 60%;
  text-align: center;
}

.content > div > h1:nth-child(1) {
  font-family: "Avernir";
  font-weight: normal;
  font-size: 36px;
}

.content > div > h1:nth-child(3) {
  font-family: "AvernirRoman";
  font-weight: normal;
  font-size: 24px;
}

.content > div > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content > div > div > h1 {
  margin-left: 10px;
  font-weight: 400;
}

.content > div > div > h1:nth-child(1),
.content > div > div > h1:nth-child(3) {
  font-family: "Amatic SC", cursive;
  font-size: 120px;
}

.content > div > div > h1:nth-child(2) {
  font-family: "Dancing Script", cursive;
  font-size: 114px;
}

.bulletPoints {
  display: flex;
  justify-content: center;
}

.bullets {
  display: flex;
  justify-content: space-around;
  width: 10%;
}

.bullets input {
  display: none;
}

.bullet {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ada8a8;
  cursor: pointer;
  transition-property: background-color, box-shadow;
}

.bullets:hover .bullet {
  transition-property: background-color, box-shadow;
  box-shadow: 0 0 0 2px rgb(255, 255, 255);
  background-color: #ffffff;
}

.bullets input:checked + .bullet {
  transition-property: background-color, box-shadow;
  box-shadow: 0 0 0 2px #ffffff;
  background-color: #ffffff;
}

@media (max-width: 1200px) {
  .headerLinks {
    width: 100%;
  }
  .content > div > h1:nth-child(1) {
    font-size: 30px;
  }

  .content > div > h1:nth-child(3) {
    font-size: 20px;
  }

  .content > div > div > h1:nth-child(1),
  .content > div > div > h1:nth-child(3) {
    font-family: "Amatic SC", cursive;
    font-size: 80px;
  }

  .content > div > div > h1:nth-child(2) {
    font-family: "Dancing Script", cursive;
    font-size: 80px;
  }
}

@media (max-width: 800px) {
  .content > div > h1:nth-child(1) {
    font-size: 24px;
  }

  .content > div > h1:nth-child(3) {
    font-size: 16px;
  }

  .content > div > div {
    margin: 20px;
    display: flex;
    flex-direction: column;
    line-height: 54px;
  }

  .content > div > div > h1:nth-child(1),
  .content > div > div > h1:nth-child(3) {
    font-family: "Amatic SC", cursive;
    font-size: 65px;
    text-align: center;
  }

  .content > div > div > h1:nth-child(2) {
    font-family: "Dancing Script", cursive;
    font-size: 65px;
    text-align: center;
  }

  header {
    flex-direction: column;
    height: 75px;
    align-content: space-around;
  }

  .logo {
    height: 40px;
    margin: 0;
  }
  header > div:nth-child(1) {
    flex-direction: column;
    height: 60%;
    justify-content: space-around;
  }

  .headerLinks {
    display: none;
    opacity: 0;
    flex-direction: column;
    width: auto;
  }
  .headerLinks > a {
    margin-top: 10px;
    width: auto;
  }

  .accountManagement {
    display: none;
    opacity: 0;
    height: auto;
  }
}
