@font-face {
  font-family: "Avernir";

  src: url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.eot");
  src: url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.woff") format("woff"),
    url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.ttf") format("truetype"),
    url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.svg#svgFontName")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvernirLight";

  src: url("../data/fonts/Avenir-Light/AvenirLTStd-Light.eot");
  src: url("../data/fonts/Avenir-Light/AvenirLTStd-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../data/fonts/Avenir-Light/AvenirLTStd-Light.woff") format("woff"),
    url("../data/fonts/Avenir-Light/AvenirLTStd-Light.ttf") format("truetype"),
    url("../data/fonts/Avenir-Light/AvenirLTStd-Light.svg#svgFontName")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvernirRoman";

  src: url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.eot");
  src: url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.eot?#iefix")
      format("embedded-opentype"),
    url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.woff") format("woff"),
    url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.ttf") format("truetype"),
    url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.svg#svgFontName")
      format("svg");
  font-style: normal;
  font-weight: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #9b2e49;
}

* {
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  margin: 0;
  border-style: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamburgerButton {
  margin-right: 5%;
  display: none;
  position: absolute;
  margin-left: 85%;
  margin-top: 25px;
  cursor: pointer;
  z-index: 20;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 5px 0;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 4px);
  -ms-transform: rotate(-45deg) translate(-8px, 4px);
  transform: rotate(-45deg) translate(-8px, 4px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -3px);
  -ms-transform: rotate(45deg) translate(-8px, -3px);
  transform: rotate(45deg) translate(-8px, -3px);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 75px;
  width: 100%;
  background-color: #9b2e49;
}

header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
header > div > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
header > div:nth-child(1) {
  width: 70%;
}

.logo {
  cursor: pointer;
  height: 60%;
  margin-right: 20px;
}

.headerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.headerLinks > a {
  text-decoration: none;
  font-family: "AvernirRoman";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #dfdfdf;
}

.headerLinks > a:hover {
  color: white;
  font-weight: 900;
}

.accountManagement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accountManagement > h2 {
  cursor: pointer;
  font-size: 14px;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-left: 10px;
  font-family: "Avernir";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.accountManagement > h2:nth-child(1) {
  color: white;
  border-style: solid;
}

.accountManagement > h2:nth-child(2) {
  background-color: white;
  border-color: white;
  border-style: solid;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  background-color: #fcf2e6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("./../data/img/nosotrosBackground.png");
}
main > img {
  width: 250px;
  margin-bottom: 50px;
}
main > p {
  font-family: "AvernirRoman";
  text-align: center;
  width: 40%;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 50px;
}
main > div {
  width: 350px;
  display: flex;
  justify-content: space-around;
}
main > div > img {
  width: 120px;
}

footer {
  background-color: #9b2e49;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > div {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 90%;
  justify-content: space-between;
  align-items: center;
}

footer > div > div {
  display: flex;
  height: inherit;
  flex-direction: row;
  align-items: center;
}

footer > div > div:nth-child(1) {
  font-size: 18px;
  color: white;
}

footer > div > div:nth-child(1) > p:nth-child(1) {
  font-family: "Avernir";
  margin-right: 5px;
  font-weight: normal;
}
footer > div > div:nth-child(1) > p:nth-child(2) {
  font-family: "AvernirLight";
  font-weight: normal;
}

footer > div > div:nth-child(2) > img {
  width: 40px;
  margin: 10px;
}

@media (max-width: 1200px) {
  .headerLinks {
    width: 100%;
  }

  main > img {
    width: 200px;
  }
  main > p {
    width: 50%;
    font-size: 18px;
  }

  main > div {
    width: 250px;
  }
  main > div > img {
    width: 100px;
  }
}

@media (max-width: 800px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 75px;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }

  .logo {
    height: 40px;
    margin: 0;
  }
  header > div:nth-child(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 60%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .headerLinks {
    display: none;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto;
  }
  .headerLinks > a {
    margin-top: 10px;
    width: auto;
  }

  .accountManagement {
    display: none;
    opacity: 0;
    height: auto;
  }

  main > img {
    width: 150px;
  }
  main > p {
    width: 70%;
    font-size: 16px;
  }

  main > div {
    width: 200px;
  }
  main > div > img {
    width: 75px;
  }
  footer {
    height: 90px;
  }

  footer > div {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  footer > div > div:nth-child(1) {
    font-family: "AvernirLight";
    font-weight: normal;
    font-size: 15px;
  }

  footer > div > div:nth-child(2) > img {
    width: 30px;
  }
}
