@font-face {
  font-family: "Avernir";

  src: url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.eot");
  src: url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.woff") format("woff"),
    url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.ttf") format("truetype"),
    url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.svg#svgFontName")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvernirLight";

  src: url("../data/fonts/Avenir-Light/AvenirLTStd-Light.eot");
  src: url("../data/fonts/Avenir-Light/AvenirLTStd-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../data/fonts/Avenir-Light/AvenirLTStd-Light.woff") format("woff"),
    url("../data/fonts/Avenir-Light/AvenirLTStd-Light.ttf") format("truetype"),
    url("../data/fonts/Avenir-Light/AvenirLTStd-Light.svg#svgFontName")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvernirRoman";

  src: url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.eot");
  src: url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.eot?#iefix")
      format("embedded-opentype"),
    url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.woff") format("woff"),
    url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.ttf") format("truetype"),
    url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.svg#svgFontName")
      format("svg");
  font-style: normal;
  font-weight: normal;
}

html,
body {
  width: 100%;
  height: auto;
  background-color: #9b2e49;
}

* {
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  margin: 0;
  border-style: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  display: flex;
}

body > section:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("./../data/img/textureBackground.png");
}

.profileData {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin-top: 86px;
  width: 80%;
  height: 425px;
  justify-content: space-between;
}

.profileData:nth-child(2) {
  height: 225px;
  margin-bottom: 100px;
}
.profileData > h1 {
  font-family: "AvernirLight";
  display: inline-flex;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 50px;
}

.profileData > h2 {
  color: #676666;
  font-family: "AvernirLight";
  display: inline-flex;
  font-weight: 700;
  font-size: 22px;
  height: 40px;
  border-bottom: 2px solid #676666;
}
.data {
  display: flex;
}

.key {
  font-size: 20px;
  font-family: "AvernirLight";
  display: flex;
  flex-direction: column;
  color: #676666;
  width: 50%;
  text-align: left;
  align-self: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  height: 150px;
}

.value {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: #444444;
  font-family: "AvernirRoman";
  font-size: 20px;
  align-self: flex-end;
  text-align: right;
  justify-content: space-between;
  align-items: flex-end;
  height: 150px;
}

.data:nth-child(2) .key {
  height: auto;
  width: 100%;
}
.data:nth-child(2) .key p:nth-child(2) {
  color: #676666;
  font-size: 17px;
  margin-left: 20px;
  margin-top: 10px;
}
.data:nth-child(2) .value {
  height: auto;
  align-self: end;
  width: auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 185px;
  height: 45px;
  background-color: transparent;
  border-radius: 30px;
  border-color: #008499;
  border-style: solid;
}
.btn > a {
  text-decoration: none;
  font-size: 22px;
  font-family: "AvernirLight";
  color: #008499;
  text-align: center;
}

.submit {
  display: flex;
}

.submit .btn {
  width: auto;
  padding: 0 20px;
}
.submit .btn:nth-child(2) {
  margin-left: 20px;
  border: none;
}

@media (max-width: 900px) {
  .profileData {
    width: 90%;
    height: 320px;
  }
  .profileData:nth-child(2) {
    margin-top: 40px;
  }

  .profileData > h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .profileData > h2 {
    font-size: 18px;
  }

  .data:nth-child(2) .key p:nth-child(2) {
    font-size: 14px;
    margin-left: 0px;
  }

  .key {
    font-size: 16px;
    height: 125px;
  }

  .value {
    font-size: 16px;
    height: 125px;
  }

  .btn > a {
    font-size: 16px;
  }
}

@media (min-height: 800px) {
  html,
  body {
    height: 100%;
  }
}
