@font-face {
  font-family: "Avernir";

  src: url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.eot");
  src: url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.woff") format("woff"),
    url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.ttf") format("truetype"),
    url("../data/fonts/Avenir-Medium/AvenirLTStd-Medium.svg#svgFontName")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvernirLight";

  src: url("../data/fonts/Avenir-Light/AvenirLTStd-Light.eot");
  src: url("../data/fonts/Avenir-Light/AvenirLTStd-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../data/fonts/Avenir-Light/AvenirLTStd-Light.woff") format("woff"),
    url("../data/fonts/Avenir-Light/AvenirLTStd-Light.ttf") format("truetype"),
    url("../data/fonts/Avenir-Light/AvenirLTStd-Light.svg#svgFontName")
      format("svg");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "AvernirRoman";

  src: url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.eot");
  src: url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.eot?#iefix")
      format("embedded-opentype"),
    url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.woff") format("woff"),
    url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.ttf") format("truetype"),
    url("../data/fonts/Avenir-Roman/AvenirLTStd-Roman.svg#svgFontName")
      format("svg");
  font-style: normal;
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #9b2e49;
}

* {
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  margin: 0;
  border-style: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:focus {
  outline-width: 0;
}

body {
  display: flex;
  flex-direction: row;
}

body > section {
  height: 100%;
  width: 50%;
}

body > section:nth-child(1) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("./../data/img/registerPanel.png");
}
.logo {
  margin-top: 35px;
  margin-left: 35px;
  width: 150px;
}

body > section:nth-child(2) {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("./../data/img/textureBackground.png");
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

body > section:nth-child(2) > h1 {
  color: #444444;
  font-family: "AvernirLight";
  font-weight: 700;
  font-size: 26px;
}
.account {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 250px;
  width: 60%;
}

.account > input {
  color: #444444;
  font-family: "AvernirLight";
  font-weight: normal;
  padding-left: 5px;
  background: transparent;
  font-size: 20px;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #ada8a8;
}

.birthday {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.birthday > h2 {
  color: #444444;
  font-family: "AvernirLight";
  font-weight: normal;
  width: 100%;
  font-size: 22px;
}

.date {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.date > input {
  font-family: "AvernirLight";
  font-weight: normal;
  padding-left: 5px;
  background: transparent;
  font-size: 20px;
  height: 45px;
  border-bottom: 1px solid #ada8a8;
}
.date > input:nth-child(1) {
  width: 45px;
}

.date > input:nth-child(2) {
  width: 140px;
}
.date > input:nth-child(3) {
  width: 75px;
}

.date > input::placeholder {
  color: #ada8a8;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-between;
  width: 60%;
}

.submit > p {
  color: #444444;
  font-family: "AvernirLight";
  font-weight: normal;
  text-align: center;
  font-size: 16px;
}

.submit > p > a {
  text-decoration: none;
  color: rgb(17, 180, 96);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 185px;
  height: 45px;
  background: #008499;
  border-radius: 30px;
  margin: 20px;
}
.btn > a {
  text-decoration: none;
  font-size: 20px;
  font-family: "AvernirLight";
  color: #ffffff;
  text-align: center;
}

.submit > p:nth-child(3) {
  font-size: 18px;
}

@media (max-width: 1200px) {
  body > section:nth-child(1) {
    display: none;
  }

  body > section:nth-child(2) {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .account {
    height: 215px;
    width: 80%;
  }

  .birthday {
    width: 80%;
  }

  .submit {
    width: 80%;
  }
  .account > input {
    height: 30px;
    font-size: 16px;
  }
  .birthday > h2 {
    font-size: 18px;
  }

  .date > input {
    height: 30px;
    font-size: 16px;
  }
  .btn {
    height: 45px;
    width: 130px;
  }
  .btn > a {
    font-size: 16px;
  }
  .submit > p:nth-child(1) {
    font-size: 14px;
  }
  .submit > p:nth-child(3) {
    font-size: 16px;
  }
}

@media (max-height: 600px) {
  body {
    height: 600px;
  }
}
